<div class="col-12" id="filterrific_results_check_in">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Member List</h4>
            <div id="check_in_message"></div>
            <h6 class="card-subtitle"></h6>
            <div class="table-responsive">
                <table class="table m-t-30 table-hover contact-list" data-page-size="10" id="table_check_in[{{id}}]">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Customer Code
                            <th>Full Name</th>
                            <th>Plan </th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <% members.each do |member| %>
                        <tr>
                            <td><%= member.id %></td>
                            <td><%= member.customer_code %></td>
                            <td>
                                <%= image_tag( "#{member.image_url}", alt: "member", size:'40', class:"img-circle" ) %><%= link_to "#{member.fullname}", member_profile_path(member)  %>
                            </td>
                            <td><span><%= member.subscription_plan.plan_name %><span></td>
                            <% if member.account_detail.member_status == "active" %>
                                <td><span class="label label-success"><%= member.account_detail.member_status.titleize %></span> </td>
                            <% else %>
                                <td><span class="label label-danger"><%= member.account_detail.member_status.titleize %></span> </td>
                            <% end %>
                            <td>
                                <button id="" class="check_in_button btn btn-info" href="#" data-id="<%= member.id %>" data-value="<%= member.id%>">Check In</button>
                            </td>
                            
                        </tr>
                    <% end %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <%= link_to "Add New Member", new_member_registration_path, class:"btn btn-info btn-rounded" %>                                                   
                            </td>                                               
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                            <td colspan="7">
                                <div class="text-right">
                                    <ul class="pagination"> </ul>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>