        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Membership</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item">Member</li>
                        <li class="breadcrumb-item active">Create Member</li>
                    </ol>
                </div>
                <div class="">
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>


            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div
                <div class="row">
                    <div class="col-12">
                        <div class='alert alert-success' id='flash-box'>
                            <div class='flash-message'> <%= flash[:notice] %> </div>
                        </div>
                        </br>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Create New Member</h4>
                                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-material m-t-40' }) do |f| %>
                                    <div class="form-group">
                                        <%= f.label :first_name, 'First Name' %>
                                        <%= f.text_field :first_name, class: 'form-control form-control-line' %>
                                    </div>
                                     <div class="form-group">
                                        <%= f.label :last_name, 'Last Name' %>
                                        <%= f.text_field :last_name, class: 'form-control form-control-line' %>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :email, 'Email' %>
                                        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                                    </div>
                                    <div class="form-group">
                                         <%= f.label :subscription_plan_id, 'Subscription Plan' %>
                                         <%= f.collection_select(:subscription_plan_id, @subscription_plans, :id, :plan_name, { include_blank: "Select a Membership Plan"}, {class: "form-control"} ) %>
                                    </div>
                                    <div class="form-group">
                                         <%= f.label :payment_method_id, 'Payment Method' %>
                                         <%= f.collection_select(:payment_method_id, @payment_methods, :id, :payment_system, { include_blank: "Select a Payment Method"}, {class: "form-control"} ) %>
                                    </div>
                                    <div class="form-group">
                                         <%= f.label :fitness_goal_id, 'Fitness Goal' %>
                                         <%= f.collection_select(:fitness_goal_id,   @fitness_goals, :id, :goal_name, { include_blank: "Select Customer Fitness Goal"}, {class: "form-control"} ) %>
                                    </div>                                    
                                    <div>
                                        <%= f.submit 'Next', class: 'btn btn-danger m-r-10' %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
