        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Subscription Plan</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item">Subscription Plan</li>
                        <li class="breadcrumb-item active">Create Plan</li>
                    </ol>
                </div>
                <div class="">
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>


            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div
                <div class="row">
                    <div class="col-12">
                        </br>
                        <div class="card">
                            <div class="card-body">
                                <% if flash[:notice] %>
                                    <div class="alert alert-success">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <%= flash[:notice] %>
                                    </div>
                                <% elsif flash[:error] %>
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <%= flash[:error] %>
                                    </div>
                                <% elsif flash[:alert] %>
                                    <div class="alert">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <%= flash[:alert] %>
                                    </div>
                                <% end %>
                                <h4 class="card-title">Edit Subscription Plan</h4>
                                <%= form_for([:admin, @subscription_plan], html: {class: 'form-group m-t-40' }) do |f| %>
                                    <div class="form-group">
                                        <%= f.label :plan_name, 'Plan Name' %>
                                        <%= f.text_field :plan_name, class: 'form-control form-control-line' %>
                                    </div>
                                     <div class="form-group">
                                        <%= f.label :cost, 'Cost(₦)' %>
                                        <%= f.number_field :cost, class: 'form-control form-control-line' %>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :status, 'Status' %>
                                        <%= f.select(:status, options_for_select(SubscriptionPlan.statuses.keys.map { |status| [status.titleize, status]}), {include_blank: true}, { :class =>  "form-control" } ) %>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :description, 'Description' %>
                                        <%= f.text_field :description, class: 'form-control form-control-line' %>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :duration, 'Plan Duration' %>
                                        <%= f.select(:duration, options_for_select(SubscriptionPlan.durations.keys.map { |duration| [duration.titleize, duration]}), {include_blank: true}, { :class =>  "form-control" } ) %>
                                    </div>
                                    <br/>
                                    <div>
                                        <%= f.submit 'Update Plan', class: 'btn btn-danger m-r-10' %>
                                    </div>

                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
