        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Subscription Plan</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item">Subscription Plan</li>
                        <li class="breadcrumb-item active">Create Plan</li>
                    </ol>
                </div>
                <div class="">
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>


            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div
                <div class="row">
                    <div class="col-12">
                        </br>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Create Subscription Plan</h4>
                                <%= form_for([:admin, @subscription_plan], html: {class: 'form-material m-t-40' }) do |f| %>
                                    <% if @subscription_plan.errors.any? %>
                                        <% @subscription_plan.errors.full_messages.each do |message| %>
                                            <div class='alert alert-danger'>
                                                <%= message %>
                                            </div>
                                        <% end %>
                                    <% end %>
                                    <div class='alert alert-success' id='flash-box'>
                                        <div id='flash-message'> <%= flash[:notice] %> </div>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :plan_name, 'Plan Name' %>
                                        <%= f.text_field :plan_name, class: 'form-control form-control-line' %>
                                    </div>
                                     <div class="form-group">
                                        <%= f.label :cost, 'Cost(₦)' %>
                                        <%= f.number_field :cost, class: 'form-control form-control-line' %>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :description, 'Description' %>
                                        <%= f.text_field :description, class: 'form-control form-control-line' %>
                                    </div>
                                    <div class="form-group">
                                        <%= f.label :duration, 'Plan Duration' %>
                                        <%= f.select(:duration, options_for_select(SubscriptionPlan.durations.keys.map { |duration| [duration.titleize, duration]}), {include_blank: true}, { :class =>  "form-control" } ) %>
                                    </div>
                                     <div class="form-group">
                                        <%= f.label :group_plan, 'Group Plan' %>
                                        <%= f.select(:group_plan, options_for_select([['Yes', :true], ['No', :false]]), {include_blank: "Choose Yes or No"}, { :class =>  'form-control', id: 'group_plan_select' } ) %>
                                    </div>
                                    <div class="form-group group_member_hide" >
                                        <%= f.label :no_of_group_members, 'No of Group members' %>
                                        <%= f.select(:no_of_group_members, options_for_select((1..20)), {include_blank: true}, { :class =>  "form-control" } ) %>
                                    </div>
                                    <div>
                                        <%= f.submit 'Create', class: 'btn btn-danger m-r-10' %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
