<div class="form-group">
    <%= f.label :transaction_reference, 'Transaction Reference' %>
    <%= f.text_field :transaction_reference, class: 'form-control form-control-line' %>
</div>
<div class="form-group">
    <%= f.label :transaction_success, 'Transaction Successesful?' %>
    <%= f.select(:transaction_success, options_for_select([['Yes', :true], ['No', :false]]), {include_blank: "Choose Yes or No"}, { :class =>  'form-control' } ) %>
</div>
<div class="actions">
    <%= f.submit "Continue", class: 'btn btn-danger m-r-10' %>
</div>