        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Membership Payment</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item">Member</li>
                        <li class="breadcrumb-item active">Receive Payment</li>
                    </ol>
                </div>
                <div class="">
                    <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
                </div>
            </div>


            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div>
                <div class="row">
                    <div class="col-12">            
                        <% if flash[:error] %>
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <%= flash[:notice] %>
                            </div>
                        <% elsif flash[:notice] %>
                            <div class="alert alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <%= flash[:notice] %>
                            </div>
                        <% end %>
                        </br>
                        <div class="card">
                            <div class form-group id="paystack-success">
                            </div>

                            <div class="loader hide modal"></div>
                  
                            <div class="card-body">
                                <h4 class="card-title" id="receive-payment">Receive Payment</h4>
                                <% if @member.payment_method.payment_system == "Debit Card" && @member.subscription_plan.recurring == true %>
                                    <div class="button-box m-t-20" id="remove-paystack-link">
                                        <button id="paystack-button" class="btn btn-info" href="#">Pay with Card Online</button>
                                    </div>
                                <% elsif @member.payment_method.payment_system == "POS Terminal" %>
                                    <div><h5>Amount to Charge: </h5><button class="btn btn-success" href="#">₦<%= @member.subscription_plan.cost %></button></div>
                                    <%= form_for([:admin, @member], url: wizard_path, method: :put) do |f| %>
                                        <%= f.fields_for :pos_transactions, PosTransaction.new do |transaction| %>
                                            <br/>
                                            <%= render 'postransaction_fields', f: transaction %>
                                        <% end %>
                                    <% end %>
                                <% elsif @member.payment_method.payment_system == "Debit Card" && @member.subscription_plan.recurring == false %>
                                    <div><h5>Amount to Charge: </h5><button class="btn btn-success" href="#">₦<%= @member.subscription_plan.cost %></button></div>
                                    <%= form_for([:admin, @member], url: wizard_path, method: :put) do |f| %>
                                        <%= f.fields_for :pos_transactions, PosTransaction.new do |transaction| %>
                                            <br/>
                                            <%= render 'postransaction_fields', f: transaction %>
                                        <% end %>
                                    <% end %>
                                <% elsif @member.payment_method.payment_system.titleize == "Cash" || @member.payment_method.payment_system.titleize == "Mobile Transfer"  %>
                                    <div><h5>Amount to Collect: </h5><button class="btn btn-success" href="#">₦<%= @member.subscription_plan.cost %></button></div>
                                    <%= form_for([:admin, @member], url: wizard_path, method: :put) do |f| %>
                                        <%= f.fields_for :cash_transactions, CashTransaction.new do |transaction| %>
                                            <br/>
                                            <%= render 'cashtransaction_fields', f: transaction %>
                                        <% end %>
                                    <% end %>
                                <% end %>

                            </div>
                        </div>
                        <div class="card remove-back-button">
                            <div class="card-body">
                                <%= link_to "Back", 'javascript:history.back()', class: 'btn btn-danger m-r-10'%>
                            </div>
                        </div>
                        <div class="card hide" id="reference-code">

                        </div>
                        <div class="card hide" id="manual-subscribe">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="manual-subscribe-reference" placeholder="Enter reference code displayed above!"> 
                                    </div>
                                    <button type="submit" class="btn btn-info" id="reference-submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>                   
                    <div class="card hide" id="payment-next">
                        <div class="card-body">
                            <%= link_to "Back", previous_wizard_path, class: 'btn btn-danger m-r-10'%>
                            <%= link_to "Proceed to Personal Profile", next_wizard_path , class: 'btn btn-success m-r-10'%>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <%= content_for :after_body do %>
            <script src="https://js.paystack.co/v1/inline.js"></script>
        <% end %>
