<% @payment_methods.each do |payment_method| %>
    <tr>
        <td><%= payment_method.id %></td>
        <td><%= payment_method.payment_system %></td>
        <td><%= payment_method.discount %>%</td>
        <td><%= link_to "Edit", edit_admin_payment_method_path(id: payment_method.id), remote: true, class: 'btn btn-success m-r-10'  %></td>
        <td><%= link_to "Delete", admin_payment_method_path(payment_method) , method: :delete, data: { confirm: 'Sure about this?'}, class: 'btn btn-success m-r-10'  %>
    </tr>
<% end %>       
